<!--
	Variabel Available :
	global, err, req, res, next, 
	dirpath, dirlist[{filename, filepath, webpath, stat}], webpath
-->
<html>
	<head>
		<title>Directory of <%= webpath %></title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		 
		<style>tr,td{padding:0.5em;}</style>
	</head>
	<body style="margin:0;padding:2em;">
		<h1>Directory of <%= webpath %></h1>
		<table>
			<tr>
				<th>Filename</th>
				<th>Type</th>
				<th>Size</th>
				<th>Date Modified</th>
			</tr>
		<% dirlist.forEach(function(file,index,arr){ %>
			<tr>
				<td><a href="<%= file.webpath %>"><%= file.filename %></a></td>
				<!--<td><a href="<%= file.filename %>"><%= file.filename %></a></td>-->
				<td><%= file.stat.isDirectory() ? "Directory" : "File" %></td>
				<td><%= file.stat.size %>B</td>
				<td><%= new Date(file.stat.mtimeMs).toLocaleString() %></td>
			</tr>
		<% }); %>
		</table>
	</body>
</html>